BOT_TOKEN=your-bot-token
BOT_CLIENT_ID=your-bot-client-id
BOT_DEFAULT_ACTIVITY=default-activity

OWNER_ID=your-user-id
STAFF_IDS=

IS_MAINTENANCE=false

REDIS_URL=redis://localhost:6379

R2_PUBLIC_ACCESS_URL=https://aronabot.cdn.nimblebun.works

DATABASE_URL=postgres://arona:arona@localhost:5432/aronabot
