@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* ----- 0. BASIC STYLING BEGIN ----- */

body {
  margin: 0;
  line-height: 0;
  font-family: 'Noto Sans', sans-serif;
  user-select: none;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  max-height: 100%;
}

.gacha-result {
  overflow: hidden;
  width: 1120px;
  height: 640px;
  background: url('/images/gacha/background.png') center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.chroma {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
  opacity: 0.35;
}

/* ----- 0. BASIC STYLING END ----- */

/* ----- 1. GACHA CARD CONTAINER BEGIN ----- */

.card-container {
  height: 570px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0 190px;
}

.card-container .card {
  width: 115px;
  height: 140px;
  transform: skewX(-10deg);
  margin: 25px 15px;
  position: relative;
}

.card-container .card::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 111px;
  height: 40px;
  background: rgb(98, 112, 130);
  border: 2px solid white;
  border-radius: 4px;
  box-sizing: content-box;
}

.card-container .card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 4px;
}

.card-container .card.star-1::before {
  box-shadow: 0 4px 4px 1px rgb(187 199 209/1);
}

.card-container .card.star-2::before {
  box-shadow:
    0 4px 4px 1px #f3e7ad,
    0 0px 5px 4px #faf7c5;
}

.card-container .card.star-3::before {
  box-shadow:
    0 4px 4px 1px #c5a7ee,
    0 0px 5px 4px #fadbed;
}

.card-container .card .icon-container {
  position: relative;
  width: 100%;
  height: 110px;
  border: 2px solid white;
  border-radius: 4px;
  overflow: hidden;
  background: rgb(222, 235, 240);
  z-index: 1;
}

.card-container .card .icon-container::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -12px;
  width: 134px;
  transform: skewX(10deg);
  height: 110px;
  background: url('/images/gacha/chara-card-bg.png') top;
  background-size: cover;
}

.card-container .card .icon-container .icon {
  position: relative;
  left: -13px;
  top: 0;
  width: 138px;
  max-width: 138px;
  transform: skewX(10deg);
}

.card-container .card.star-2 .icon-container .icon {
  background: rgb(252 245 120/90%);
}

.card-container .card.star-3 .icon-container .icon {
  background: rgb(249 195 219/0.85);
}

.card-container .card .badge {
  position: absolute;
  z-index: 2;
  left: -15px;
  transform: skewX(10deg);
}

.card-container .card .badge.pickup {
  top: -10px;
  height: 20px;
  left: -10px;
}

.card-container .card .star-container {
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.card-container .card .star-container .star {
  width: 20px;
  transform: skewX(10deg);
  z-index: 1;
}

/* ----- 1. GACHA CARD CONTAINER END ----- */

/* ----- 2. GACHA SHADOW CONTAINER BEGIN ----- */

.shadow-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 530px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0 190px;
  z-index: -1;
}

.shadow-container .shadow-wrapper {
  width: 115px;
  height: 140px;
  transform: skewX(-10deg);
  margin: 25px 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow-container .shadow-wrapper .shadow {
  position: absolute;
  width: 137px;
  height: 400px;
}

.shadow-container .shadow-wrapper .shadow-2 {
  background: linear-gradient(
    to top,
    rgb(255 255 255/0) 12.5%,
    rgb(250 250 250/0.3) 25%,
    rgb(245 245 245/0.7) 45%,
    rgb(255 255 255/0.9) 50%,
    rgb(245 245 245/0.7) 55%,
    rgb(250 250 250/0.3) 75%,
    rgb(255 255 255/0) 87.5%
  );
}

.shadow-container .shadow-wrapper .shadow-3 {
  background: linear-gradient(
    to top,
    rgb(211 225 250/0.2),
    rgb(245 228 252/0.65) 20%,
    rgb(250 250 250/0.9) 40%,
    rgb(255 255 255/1) 50%,
    rgb(250 250 250/0.9) 60%,
    rgb(245 228 252/0.65) 80%,
    rgb(211 225 250/0.2)
  );
}

/* ----- 2. GACHA SHADOW CONTAINER END ----- */

/* ----- 3. GACHA POINTS CONTAINER START ----- */

.points-container {
  position: absolute;
  right: 55px;
  bottom: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.points-container .points-icon {
  width: 57px;
  padding-top: 5px;
  z-index: 1;
}

.points-container .points {
  width: 150px;
  height: 54px;
  transform: skewX(-10deg);
  background: rgb(36, 90, 126);
  border: 1px solid rgb(36, 90, 126);
  border-radius: 3px;
  margin-left: -17px;
  color: rgb(75, 112, 155);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.points-container .points::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background: white;
}

.points-container .points .points-text {
  padding-top: 12px;
  height: 50%;
  font-size: 13px;
  transform: skewX(10deg);
}

.points-container .points .points-count {
  padding-top: 12px;
  height: 50%;
  color: white;
  transform: skewX(10deg);
}

/* ----- 3. GACHA POINTS CONTAINER END ----- */
